div.django_tokenfield-container {
    display: inline-block;
    height: 25px;
    position: relative;
}

ol.django_tokenfield-input {
    background-color: white;
    border: 1px solid #8496BA;
    clear: left;
    cursor: text;
    display: inline-block;
    font-size: 12px;
    font-family: monospace;
    list-style-type: none;
    height: 23px;
    margin: 0;
    min-height: 1px;
    overflow: hidden;
    padding: 0 3px;
    width: 400px;
    z-index: 999;
}

li.django_tokenfield-variable {
    background-color: #EFF2F7;
    border: 1px solid #CCD5E4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: black;
    cursor: default;
    float: left;
    font-size: 11px;
    height: auto !important;
    height: 15px;
    margin: 3px 0;
    overflow: hidden;
    padding: 1px 3px;
    white-space: nowrap;
}

li.django_tokenfield-variable a {
    color: black;
    text-decoration: none;
}

li.django_tokenfield-literal {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.django_tokenfield-literal > input[type="text"] {
    background-color: transparent;
    border: 0;
    font-family: monospace;
    margin: 2px 0;
    padding: 3px 0;
    width: 5px;
    -webkit-appearance: caret;
}

li.django_tokenfield-variable.django_tokenfield-selected {
    background-color: #7890F5;
    border-color: #476BD9;
    color: white;
}

li.django_tokenfield-variable.django_tokenfield-selected a {
    color: white;
}

/* -- Choices -------------------------------------------------------------- */

span.django_tokenfield-choices_toggle {
    background: transparent url(../img/dropdown.png) left top no-repeat;
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    right: -20px; /* -(16 + 4) */
    top: 0;
    width: 16px;
    margin: 4px 0;
}

span.django_tokenfield-choices_toggle:hover,
span.django_tokenfield-choices_toggle.django_tokenfield-selected {
    background-position: left bottom;
}

ol.django_tokenfield-choices {
    background-color: white;
    border: 1px solid #AAA;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.30);
    display: none;
    font-family: "Lucida Grande", Helvetica, sans-serif;
    font-size: 10pt;
    max-height: 150px;
    left: 0;
    line-height: 14pt;
    list-style: none;
    margin: 0;
    overflow: scroll;
    padding: 3px 0;
    position: absolute;
    right: 0;
    top: 28px;
    z-index: 100;
}

ol.django_tokenfield-choices.django_tokenfield-visible {
    display: block;
}

ol.django_tokenfield-choices > li {
    border-top: 1px solid #EEF0EE;
    cursor: pointer;
    padding: 3px 6px 3px 8px;
}

ol.django_tokenfield-choices > li:first-child {
    border-top: none;
}

ol.django_tokenfield-choices > li:hover {
    background-image: linear-gradient(bottom, rgb(27,34,234) 0%, rgb(36,50,246) 1%, rgb(85,104,249) 99%, rgb(75,97,237) 100%);
    background-image: -o-linear-gradient(bottom, rgb(27,34,234) 0%, rgb(36,50,246) 1%, rgb(85,104,249) 99%, rgb(75,97,237) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(27,34,234) 0%, rgb(36,50,246) 1%, rgb(85,104,249) 99%, rgb(75,97,237) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(27,34,234) 0%, rgb(36,50,246) 1%, rgb(85,104,249) 99%, rgb(75,97,237) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(27,34,234) 0%, rgb(36,50,246) 1%, rgb(85,104,249) 99%, rgb(75,97,237) 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(27,34,234)),
            color-stop(0.01, rgb(36,50,246)),
            color-stop(0.99, rgb(85,104,249)),
            color-stop(1, rgb(75,97,237))
    );
    border-top-color: white;
    color: white;
}

ol.django_tokenfield-choices > li:hover > p,
ol.django_tokenfield-choices > li:hover > span.key,
ol.django_tokenfield-choices > li:hover > span.name {
    color: white;
}

ol.django_tokenfield-choices > li > p {
    color: #666;
    font-size: 7pt;
    font-weight: normal;
    line-height: 9pt;
    margin: 1px 0;
}

ol.django_tokenfield-choices > li > span.key {
    color: #222;
    font-family: monospace;
    font-size: 10pt;
    font-weight: bold;
}

ol.django_tokenfield-choices > li > span.name:before {
    content: " â“ ";
}

ol.django_tokenfield-choices > li > span.name {
    color: #444;
    font-style: italic;
    font-size: 9pt;
}
